*{
    /* margin: 0px; */
    box-sizing: border-box;
}

body {
    background-color: #FFE2b0;
    padding-top: 20px;;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
ul {
    list-style: none;
    text-align: center;
    padding: 0px;
}
li {
    display: inline;
    margin-right: 100px;
}
li:last-child{ /* последний элемент */
    margin: 0px;
}
a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
a:hover {/*  наведение курсор */
    color: red;
    font-size: 25px;
}
/* div {
    margin: 50px 50px;
    padding: 30px 30px;
    border: 3px solid black;
    background-color: aqua;
} */
.test {
    margin: 50px 0px 50px 0px;
    display: inline-block;
}

nav {
    margin-bottom: 20px;
}

.section-about{
     height: 650px;
/*  background-image: url(../img/01-Картинка-фона.jpg);
 background-position: center;
 background-size: cover; */
    background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat; /* можно короче */
    position: relative;
    margin-bottom: 20px;
}
.section-about__blok{
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244,213,178,0.8) 0%, rgba(234, 156,65,0.8) 100%);
    position: absolute;
    top: 54%;
    left: 50%;
    padding-top: 15px;
}
.section-about__border{
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: left;
    padding: 17px 0 0 28px;

}
.section-about__title{
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
}
.section-about__text{
    font-size: 12px;
    margin: 0;
}
.section-description{
    margin-bottom: 20px;
}
.section-description__icon-box{
    text-align: center;
    
}
.section-description__icon-box img{
    margin-right: 76px;
}
.section-description__icon-box img:last-child{
    margin-right: 0px;
}
/* .section-description__tex-box{

} */
.section-description__title{
font-size: 96px;
margin: 0;
text-align: center;
}
.red{
    color: #f15b40;
}
.section-description__text{
    font-size: 18px;
    margin: 0px;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
.section-map{
    margin-bottom: 20px;
}
.section-map__title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 36px;
}
iframe{
    display: block;
    margin: 0 auto;
}
hr {
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}
footer{
    height: 80px;
}

h1{
    font-family: 'Roboto', sans-serif;
}